@import url('https://fonts.cdnfonts.com/css/caviar-dreams');
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Caviar Dreams', sans-serif;
    color: #000;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


  /* Pocetak navigacionog bara */
  .highlight {
    background-color:rgba(27, 53, 160, 0.); 
  }
  .custom-text {
    letter-spacing: .1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.04rem ;

}
#title:hover {
  text-decoration: none;
  filter: brightness(0.75);
}

.navbar-bg {
    background: rgba(20, 38, 121, 0.7) !important;
}

.navbar-brand img {
    height: 4rem !important;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(9, 46, 94);
}
/* Kraj navigacionog bara */

/* Pocetak login sekcije */

@media (max-width: 576px) {
  .modal-title {
    font-size: 1.25rem;
  }
  .modal-body {
    font-size: 1rem;
  }
  .modal-footer {
    font-size: 0.875rem;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (1.75rem * 2));
}
.clickable-image {
  cursor: pointer; 
  transition: all 0.2s ease-in-out; 
}

.clickable-image:hover, .clickable-image:active {
  opacity: 0.8; 
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: rgb(45, 70, 182);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.modal-body {
  padding: 20px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  
}


.alert {
  width: 100%;
  background: rgb(10, 103, 179);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  display: none;
  font-size: larger;

}



/* Kraj login sekcije */

/*Pocetak glavnog dela */

.custom-card {
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.hover-link:hover {
  background-color: rgba(75, 94, 177, 0.7);
  cursor: pointer;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}
.table {
  background-color: rgba(20, 38, 121, 0.7);
}
.table thead {
  background-color: rgb(38, 56, 128);
  color: white;
}
.table th,
  .table td {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  #carouselExampleIndicators {
    height: 600px;
    width: 1000px;
  }
  
  #carouselExampleIndicators img {
    height: 600px;
    width: 1000px;
    object-fit: cover;
  }

.bg {
    background-image: url(img/mountains.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    width: 100%;
    min-height: 100vh;
}

#podaciAgencijeForm {
  display: none;
}

#podaciKorisnikaForm {
  display: none;
}



  .card:hover{
    filter: brightness(1.1);
    text-decoration-color: white;
  }

.shadow-text {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.my-destinacije-container {
  max-width: 85%;
}
#for_hover:hover{
  filter: brightness(1.1);
    text-decoration-color: white;
}



.btn-default{
background-color: rgb(27, 53, 170);
color:#FFF;
border-color: #ffffff;
}

/*Zavrsetak glavnog dela */


/*Pocetak footer-a */

#footer {
    margin-top: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}




/*Kraj footer-a */